# Project
build/

# CMake
cmake-build-debug/
*CmakeFiles/
*.cmake*

# Mac OS
.DS_Store

# CLion
.idea/

# Visual Studio
.vs/
*.sln
*.vcxproj*
*.stamp*
*.pc*
*.tcl*
CMakeSettings.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
